#sidemenu{
    width: 25%;
    height: 25%;
   margin-top: 20px;
    /* border: 2px solid black; */
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto;
    font-size: 14px;
    color: #666666;
    
    font-weight: 400;

}
#sidemenu ul li{
    text-decoration: none;
    list-style: none;
    line-height: 2.66;
}
#sidemenu ul li:hover{
    cursor: pointer;
    background-color: #c9bfbf;
}
#sidemenu>img{
    margin-top: 100px;
}
#container1{
    /* border: 2px solid black; */
    width: 95%;
    display: flex;
    justify-content: space-between;
}
#wishproducts{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    width: 90%;
    margin: auto;
   margin-top: 5px;
    /* border: 1px solid #faf1f1; */
}
#wishproducts>div{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 5px;
    border: 1px solid #faf1f1;
    /* margin-top: 5px; */
}
#wishproducts>div>button{
    border: 0;
    height: 25px;
    width: 100px; 
    color: white;
    cursor: pointer;
    background-color: #dd0285;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 5px;
}