*{
    margin: 0px;
    padding: 0px;
}
.banner>img{
    width: 100%;   
    /* margin-left: 12px; */
}
#logo>a>img{
    width: 240px;
    height: 90px;
}
#AllCat {
    height: 40px;
    width: 220px;
    /* border: 1px solid black; */
}

#AllCat>select {
    height: 100%;
    width: 100%;
    padding: 8px;
    border: none;
}
#searchbtn{
    background-color: #dd0285;
}
#searchbar{
    height: 40px;
    width: 635px;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#IPS {
    height: 35px;
    width: 350px;
    font-size: 18px;
    border: none;
    border: 1px solid transparent;
    box-shadow: none ;
}

#subS>button {
    height: 100%;
    border-radius: 0px 3px 3px 0px;
    width: 100%;
    border: 1px solid black;
    border: none;
    background-color: #dd0285;
    cursor: pointer;
}


#subS>button>img {
    height: 70%;
    width: 50%;
    border-radius: 40px;
    /* border: 1px solid black; */
    margin-top: 2px;
}

#subS {
    height: 100%;
    width: 11%;
    background-color: #dd0285;
    border-radius: 0px 3px 3px 0px;
}
#headermiddle{
    height: 92px;
    width: 100%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    align-items: center;
    
}
#logo{
    margin-left: 50px;
}

#wS {
    margin-left: 170px;
    height: 60%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.whishlist {
    height: 65%;
    width: 17%;
    border: 1px solid black;

}



.whishlist>img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#user {
    height: 65%;
    width: 25%;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#Acc>a{
    cursor: pointer;
    text-decoration: none;
    color: #232323;
    font-size: 20px;
    font-weight: 500;
}
#user>img {
    height: 80%;
    width: 80%;
    
}

#Acc {
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

#UserName {
    margin-left: 5px;
}
#container {
    background-color: #dd0285;
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* border: 2px solid black; */
    padding-left: 65px;
    position: relative;
    font-family: Roboto;
}


nav>ul{
    display: flex;
}
nav>ul>li{
    padding: 12px;
    list-style: none;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
}


#cart-div{
    text-align: center;
    margin: auto;
    /* border: 2px solid black; */
    width: 15%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#cart-div>img{
    margin-top: 1px;
} 
.megamenu{
    position: absolute;
    width: 85%;
    /* height: 400px; */
    top: 100%;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

#navbar>ul>li:hover .megamenu{
    opacity: 1;
    visibility: visible;
}
.megamenuitems{
    color: black;

}
.megamenuitems>h3{
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    font-family: Roboto;
}
.megamenuitems>ul>li{
    color: #666;
    list-style: none;
    /* line-height: 1.5; */
    padding: 3px;
    margin-top: 2px;

}
.megamenuitems>ul>li:hover{
    color: #dd0285;
    cursor: pointer;
}

.megamenu>.megamenuimage>img{
    padding-top: 10px;
    /* border: 2px solid black; */
}
.megamenu>.megamenubuttons>h3{
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    font-family: Roboto;
    color: #666;
    padding-bottom: 10px;
}
.megamenu>.megamenubuttons>button{
    color: #666;
    height: 50px;
    width: 150px;
    background-color: white;
    border: 1px solid #666 ;
    margin-top: 12px;
    cursor: pointer;
    justify-content: center;
}
.megamenu>.megamenubuttons>button:hover{
    background-color: rgb(218, 218, 218);
}

#footer{
    width: 100%;
    height: 270px;
    background-color: #232323;
    color: #aaa;
    font-family: Roboto;
    line-height: 1.66;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
}
#footer1{
    width: 100%;
    height: 50px;
    background-color: #232323;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
}
#subscribe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}
.news>h3{
    margin-right: 10px;
}
#input>input{
        height: 40px ;
    width: 110%;
    
}
.subscribebtn>button{
height: 45px;
width: 70px;
background-color: #dd0285;
border-radius: 0px;
margin-left: 5px;
color: white;

}
#footer>#footerelements0>p:hover{
    cursor: pointer;
    color: #dd0285;
   
}
#footerelements1>ul>li:hover{
    cursor: pointer;
    color: #dd0285;
   
}
#footerelements2>ul>li:hover{
    cursor: pointer;
    color: #dd0285;
   
}
#footerelements3>ul>li:hover{
    cursor: pointer;
    color: #dd0285;
   
}

#footerelements0{
    line-height: 3;
    

}
#footer>div{
    margin-top: 10px;
}
#footer>#footerelements0>#footerlogo>img{
    /* border: 2px solid red; */
    width: 47px;
}
#body{
    width: 95%;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 10px;

}
#body>div{
    margin: auto;
}


#cat_slideshow{
    /* border: 2px solid black; */
    height: 400px;
    /* border: 1px solid #faf1f1; */
}
#productsslideshow{
    /* border: 2px solid black; */
    height: 400px;
    display: flex;
    justify-content: space-evenly;

}
#productsslideshow>div>img{
    width: 100%;
    height: 60%;
}
#banner2>img{
    margin-left: 20px;

}
#cats{
    /* border: 2px solid black; */
    height: 80px; 
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    width: 96%;
}
#cats>div{
    border: 1px solid #ebebeb;
    color: #666;
    line-height: 1.3;

}
#cats>div:nth-child(1){
    background-color: #c477a5; 
    color: white;
}
#cats>div:hover{
    background-color: #c25d9a;
    cursor: pointer;
    color: white;

}
#products1{
    /* border: 2px solid black; */
    height: 400px;
}
#threeproducts{
    /* border: 2px solid black; */
    height: 500px;

}
#fav {
    background-color: #666666;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
}

#fav:hover {
    background-color: #dd0285;
    cursor: pointer;
}
#threeproducts>#flex3>.box>.box2>img{
    width: 80%;
    height: 60% ;
    /* border: 2px solid black; */
}
#body>#cat_slideshow{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #faf1f1;
   
}
#vercats{
    width: 20%;

}
#vercats>.category{
    display: flex;
    align-items: center;
    color: #666;
    font-weight: 700;
    font-family: Roboto;
    gap: 10px;
    padding: 8px;

}
#vercats>div:hover{
    cursor: pointer;
    background-color: rgb(221, 212, 212);
}

#vercats>div>img{
    width: 30px;
    height: 20px;
}
#slideshow>img{
/* padding: 10px; */
width: 100%;
height: 400px;
}
.checked{
    color: orange;
}

.prod>img{
    height: 250px;
}
.prod{
    width: 22%;
   border: 1px solid #ebebeb;
}
.prod>div{
    text-align: center;
   font-weight: 500;
   line-height: 1.5;
}
.cart{
    border: 0;
    height: 25px;
    width: 100px; 
    color: white;
    cursor: pointer;
    background-color: #dd0285;
    border-radius: 3px;
    margin-top: 20px;
}

#flex3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 95%;
    margin: auto;

    margin-top: 10px;

}

.box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid #faf1f1;
    width: 100%;
    margin: auto;

}

.box>div {
    /* border: 1px solid #faf1f1; */
    /* padding: 10px; */
    height: 150px;
}

.box>div>img {
    width: fit-content;
    height: 100%;
}

.box2 {
    display: flex;
    border: 1px solid #faf1f1;
}

.box3 {
    display: flex;
    /* margin-top: -20px; */
    margin-bottom: -20px;
    gap: 10px;

}

.box3>p {
    text-decoration: line-through;
    color: rgb(181, 177, 177);
    font-size: 20px;
    margin-top: 26px;




}

.box3>h2 {

    color: #dd0285;
    font-size: 15px;

}

.box3>h3 {

    color: green;
    font-size: 15px;

}

.pri {
    display: flex;
    justify-content: start;
    margin-top: 20px;


}

.pri>button {
    background-color: #dd0285;
    border: 0px;
    padding: 5px 20px 5px 20px;
    color: white;
    /* font-size: 19px; */
}


.box4>h3 {
    /* margin-top: 50px; */
    color: #272626;

    font-size: 15px;
}

.box4>h3:hover {
    color: #dd0285;
    cursor: pointer;
}
#ptag{
    background: #fff;
    display: inline-block;
    font-size: 183.3%;
    padding: 0 30px 6px 0px;
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 0;
    line-height: 1.25em;
    font-family: inherit;
   color: #666;
}
.p{
    font-family: Roboto;
    font-size: 14px;
    color: #666;
    line-height: 1.66;
    font-weight: 400;
}