.abovefooterimg{
    display: flex;
    justify-content: space-evenly;

}
.abovefooterimg>#NEW>#Createaccount{
    height: 40px;
    width: 30%;
    background-color: #666;
    color: white;
    border: 0px;
    margin-top: 10px;
    text-align: center;
    

}
.abovefooterimg>#NEW>#Createaccount>a{
    text-decoration: none;
    color: white;
}
#signinbtn>a{
    text-decoration: none;
    color: white;
}

.abovefooterimg>#NEW>#Createaccount:hover{
background-color: #dd0285 ;
cursor: pointer;
}
#signinbtn{
    height: 30px;
    width: 20%;
    background-color: #666;
    color: white;
    border: 0px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 2px;
    text-decoration: none;
    list-style: none;
}
#signinbtn:hover{
    background-color: #dd0285 ;
}
#signin{
    font-family: Roboto;
    font-size: 14px;
    color: #666;
    line-height: 2.7;
    font-weight: 400;
    border: 2px solid #666;
    width: 40%;
    height: 350px;
    align-items: center;
    padding: 30px;
}
#signin>form>input{
    height: 25px;
    width: 90%;
}
#CUSTOMERLOGIN{
    font-family: Roboto;
    color: #666;
    font-weight: 400;
   padding: 10px;
}
#NEW{
    font-family: Roboto;
    font-size: 14px;
    color: #666;
    line-height: 2.7;
    font-weight: 400;
    border: 2px solid #666;
    width: 40%;
    height: 350px;
    align-items: center;
    padding: 30px;
}